@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    body, button, div {
        font-size: 8px;
        padding: 0px;
    }

    .spaceForButton {
        padding-left: 5px;
        margin: 5px;
    }

    h1 {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .major {
        padding-left: 10px;
    }

    .minor {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rightPositioned {
        padding-right: 0px;
    }
}

@media (min-width:768px) {
    body, button, div {
        font-size: 14px;
    }


    .spaceForButton {
        padding: 5px;
        padding-left: 35px;
        padding-right: 35px;
        margin: 5px;
        margin-left: 25px;
    }

    h1 {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .major {
        padding-left: 50px;
    }

    .minor {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rightPositioned {
        padding-right: 3px;
        width: 30%;
    }
}

body {
    color: black;
    background-color: gainsboro;
    font-family: Arial;
}


.flex-container {
    display: flex;
    flex-direction: row;
    border-width: thin;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    justify-content: space-between;
}

.major {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    width: 70%;
    vertical-align: middle;
}

.minor {
    flex-grow: 1;
    border-left-style: solid;
    border-left-width: thin;
    vertical-align: middle;
    width: 30%;
}

.rounderCorner {
    border-radius: 18px;
    border-style: groove;
    border-width: thin;
    border-top-style: inset;
    border-top-width: thin;
    border-left-style: inset;
    border-left-width: thin;
    width: 70%;
}

.leftPositioned {
    float: left;
    width: 70%;
    padding-top: 10px;
}

.rightPositioned {
    flex-direction: row;
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
}

section {
    margin: 50px;
    width: 55%;
}

    section > h1 {
        font-size: 12px;
        border-style: solid;
        border-width: thin;
        padding: 10px;
        background-color: lightgray;
        margin:0px;
    }

    section > div {
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-width: thin;
        margin:0px;
        vertical-align:central;
        background-color:whitesmoke;
    }

        section > div > span {
            font-size: 10px;
            padding: 13px;
            padding-left:20px;
            flex-grow: 1;
            vertical-align: central;
        }

        section input{
            margin:0px;
        }